@font-face {
  font-family: "RobotoRegular";
  src: url('../fonts/RobotoRegular/RobotoRegular.eot');
  src: url('../fonts/RobotoRegular/RobotoRegular.eot?#iefix') format('embedded-opentype'), url('../fonts/RobotoRegular/RobotoRegular.woff') format('woff'), url('../fonts/RobotoRegular/RobotoRegular.ttf') format('truetype'), url('../fonts/RobotoRegular/RobotoRegular.svg#RobotoRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}
html {
  height: 100%;
  overflow-y: scroll;
  box-sizing: border-box;
  font-size: 10px;
}
*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}
body {
  width: 100%;
  min-width: 320px;
  height: 100%;
  font-size: 1.6rem;
  font-family: "RobotoRegular", "Helvetica", "Roboto", "Arial", sans-serif;
  line-height: 1.4;
  color: #333333;
  background: #ffffff;
}
a {
  color: #0000ff;
  -webkit-transition: .3s;
          transition: .3s;
}
a:hover {
  color: #ff0000;
  text-decoration: none;
}
.cf {
  zoom: 1;
}
.cf:before,
.cf:after {
  content: "";
  display: table;
}
.cf:after {
  clear: both;
}
.hidden,
[hidden] {
  display: none !important;
}
.img-adp,
.iframe-adp {
  max-width: 100%;
  height: auto;
  display: block;
  margin: auto;
}
